p {
	font-size: $font-size;
	margin-top: 0;
	font-weight: normal;
}

h1 {
	font-size: $h1-font-size;
	margin-top: 0;
	font-weight: normal;	
}

h2 {
	font-size: $h2-font-size;
	margin-top: 0;
	font-weight: normal;
}

h3 {
	font-size: $h3-font-size;
	margin-top: 0;
	font-weight: normal;
}

h4 {
	font-size: $h4-font-size;
	margin-top: 0;
	font-weight: normal;
}

h5 {
	font-size: $h5-font-size;
	margin-top: 0;
	font-weight: normal;
}

h6 {
	font-size: $h6-font-size;
	margin-top: 0;
	font-weight: normal;
}