//colors
$white: #ffffff;
$red: #dc0000;
$dark-grey: #333333;
$black: #000000;
$overlay-color: #222533;

//common 
$font-size: 16px;
$container-width: 1200px;

//Typography
$font: "open_sansregular", sans-serif;

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 12px;
$h6-font-size: 10px;





